body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 32px;
  color: #201042;
  background-image: url('./img/bg-galaxy.jpg');
  background-position: center;
  background-size: cover;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #201042;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  margin-right: 8px;
  color: #201042;
  opacity: 0.8;
  transition: 0.3s;
  border: none;
}

button:hover {
  opacity: 1;
}

h2 {
  width: 100%;
  margin: 0;
  font-size: 20px;
  border-bottom: 1px solid #201042;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #F9F0F9;
  padding: 32px;
  border-radius: 10px;
}

.todo{ 
  background-color: #B288C0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.text {
  margin: 0;
  padding: 8px 0;
  font-size: 14px;
}

.category {
  color: #7E5A9B;
  font-size: 12px;
  margin: 0;
  padding-bottom: 8px;
}

.btn-complete {
  background-color: green;
  color: white;
  padding: 8px;
}

.btn-remove {
  background-color: red;
  color: white;
  padding: 8px;
}

.btn-create {
  background-color: #7E5A9B;
  color: white;
  padding: 8px 16px;
}

.btn-order {
  background-color: #7E5A9B;
  color: white;
  padding: 8px 16px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

.filter,
.search {
  padding-bottom: 24px;
}