body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 32px;
  color: #201042;
  background-image: url('./img/bg-galaxy.jpg');
}

input,
select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #201042;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  margin-right: 8px;
  color: #201042;
  opacity: 0.8;
  transition: 0.3s;
  border: none;
}

button:hover {
  opacity: 1;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #F9F0F9;
  padding: 32px;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.text {
  margin: 0;
}

.category {
  color: #B288C0;
  font-size: 12px;
  margin: 4px 0;
}

.btn-complete {
  background-color: green;
  color: white;
  padding: 8px;
}

.btn-remove {
  background-color: red;
  color: white;
  padding: 8px;
}

.btn-create {
  background-color: #7E5A9B;
  color: white;
  padding: 8px 16px;
}